.datatable,
.datatable > div,
.datatable.fixed-header .datatable-header .datatable-header-inner {
  height: 100%;
  direction: rtl;
  text-align: right;
  background-color: red;
}

div.dataTables_wrapper {
  direction: rtl;
  background-color: red;
}

/* Ensure that the demo table scrolls */
th, td { white-space: nowrap; }
div.dataTables_wrapper {
  width: 800px;
  margin: 0 auto;
}

.datatable-header-inner
{
  direction: rtl;
  text-align: right;
}