.FormClass
{
    text-align: right;
    direction: rtl;
}

.row
{
    margin-top: 20px;
}

.textWhite
{
    background-color: white;
}

input.ng-invalid.ng-touched
{
    border:1px solid red;
}

.SearchInput
{
    background-color: white;
    text-align: right;
}

.p-3
{
    padding: 0px;
    background-color: red;
}