
<ion-content padding>
  <div class="loginMain">
    <div class="loginTitle">
      התחברות
    </div>
    <div class="InputsText" align="center">
      <div class="InputText">
        <input type="text" placeholder="הכנס מייל תקין" [(ngModel)]="info.mail" />
      </div>
      <div class="InputText mt10">
        <input type="text" placeholder="הכנס סיסמה" [(ngModel)]="info.password" />
      </div>

      <button class="loginButton" ion-button block (click)="checkLogin()">התחל</button>
      <a class="register" (click)="GoToRegister()">הרשמ/י למערכת</a>
    </div>
  </div>
</ion-content>
