page-user-jobs {
  .jobRight
  {
    width: 20%;
    float: right;
  }
  .jobLeft
  {
    overflow: hidden;
    width: 70%;
    float: right;
    margin-right: 5%;
    margin-top:1px;
  }

  .time
  {
    overflow: hidden;
  }

  .timeLeft
  {
    width: 45%;
    float: right;
    font-weight: bold;
    font-size: 13px;
  }

  .timeRight
  {
    width: 35%;
    float: right;
    font-weight: bold;
    margin-right:10px;
  }

  .timeLeft h3
  {
    font-size: 13px !important;
  }

  .timeRight h3
  {
    font-size: 13px !important;
  }

  .edit
  {
    float: left;
    width: 7%;
  }
}
