
<!--</ion-content> selectedIndex={{SelectedIndex}}-->


    <ion-content padding>
        <ion-tabs *ngIf="UserType == 1" selectedIndex="{{SelectedIndex}}" color="primary">
            <ion-tab  [root]="tab3Root" tabTitle="הודעות" tabIcon="mail" tabIndex=0 tabBadge={{Settings.Messages}}></ion-tab>
            <ion-tab  [root]="tab2Root" tabTitle="המשרות שלי" tabIndex=1 tabIcon="calendar" tabBadge={{Settings.JobsCount}}></ion-tab>
            <ion-tab  [root]="tab1Root" tabTitle="מחליפות" tabIndex=2 tabIcon="people" tabBadge={{Settings.Substitute}}></ion-tab>
        </ion-tabs>

        <ion-tabs *ngIf="UserType == 2" selectedIndex=1 color="primary">
            <ion-tab [root]="tab3Root" tabTitle="הודעות" tabIcon="mail" tabIndex = 0 tabBadge="23"></ion-tab>
            <ion-tab [root]="tab4Root" tabTitle="המשרות שלי" tabIndex = 3 tabIcon="calendar" tabBadge={{Settings.openJobs}}></ion-tab>
        </ion-tabs>
    </ion-content>
