page-messages {
  .jobRight
  {
    width: 20%;
    float: right;
  }
  .jobLeft
  {
    overflow: hidden;
    width: 70%;
    float: right;
    margin-right: 5%;
    margin-top:0px;
  }

  .time
  {
    overflow: hidden;
  }
  .timeLeft
  {
    width: 50%;
    float: right;
  }


  .timeRight
  {
    width: 50%;
    float: left;
  }

  .jobLeft h2
  {
    font-weight: bold;
    font-size: 18px;
    margin-top:0px;
  }

  .jobLeft h3
  {
    margin-top:-4px;
  }
}
