page-notes {
  .jobRight
  {
    width: 20%;
    float: right;
  }
  .jobLeft
  {
    overflow: hidden;
    width: 70%;
    float: right;
    margin-right: 5%;
    margin-top:1px;
  }

  .time
  {
    overflow: hidden;
  }
  .timeLeft
  {
    width: 70%;
    float: right;
  }
  .timeRight
  {
    width: 15%;
    float: left;
    margin-top: 5px;
  }

  .HeaderLeftButton
  {
    background-color: none;
  }

  .deleteIcon
  {
    float: left;
  }
}
