<!--
  Generated template for the MessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar >
    <button class="HeaderMenuButton"  ion-button icon-only menuToggle end>
      <ion-icon name="md-menu"></ion-icon>
    </button>
    <ion-title class="HeaderTitle"> צהלה <span class="HeaderSubTitle">עמוד הודעות</span> </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

</ion-content>
