
<div class="row nopadding" style="padding: 0px; background-color: white; margin-top: -15px; margin-left: -17px">
    <div class="col-lg-2 nopadding" style="background-color: #eff1f1; padding: 0px" >
        <div style="margin-top: 20px; padding: 10px;" align="center">
            <button [routerLink]="['/', folderName , 'add' ]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" style="background-color: #666">
                <div class="buttonDivBadge">

                </div>
                <div class=" ">
                    <span class="sideButtonTextEmpty">{{addButton}}</span>
                </div>
                <div class="buttonDivIcon">
                    <i class="fa fa-chevron-left"></i>
                </div>
            </button>

            <hr>
           <button [routerLink]="['/', 'company' , 'edit' , { id: i}]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" >
                <div class="buttonDivBadge">
                    <span class="pull-right badge sideButtonBadge" >
                    <span class="badgeText">36</span></span>
                </div>
                <div class="buttonDivText">
                    <span class="sideButtonText">גננות</span>
                </div>
                <div class="buttonDivIcon">
                    <i class="fa fa-chevron-left"></i>
                </div>
            </button>

        </div>
    </div>
    <div class="col-lg-10 nopadding" style="margin-top: 10px;">
        <div class="p-3" style="">
            <div style="width: 99%; float: right">
                <input type="text" (keyup)='updateFilter($event)' class="form-control SearchInput" placeholder="חפש חברה"  id="formGroupExampleInput" name="name">
            </div>
        </div>

        <div class="p-3">
            <div class="card">

                <div class="card-header">
                    <div class="card-header-text w-100">
                        <div class="card-title">
                            עמוד משתמשים
                        </div>
                        <div class="card-subtitle text-capitalize ff-sans">
                            כרגע יש {{ItemsArray.length}} חברות במערכת
                        </div>
                    </div>
                    <button [routerLink]="['/', folderName , 'add']" class="btn btn-icon btn-facebook mb-1 mr-1 " style="width: 150px; background-color:#3b5998; cursor: pointer; color: white;  float: left">
                        <i class="fa fa-plus-circle"></i>{{addButton}}
                    </button>
                </div>

                <div class="card-body" *ngFor="let item of ItemsArray let i=index">
                    <div class="row d-flex">
                        <div class="col-lg-1 "  align="center">
                            <img *ngIf="item.image != ''" class="titleImage" src="{{host}}{{item.image}}" style="" />
                            <img *ngIf="item.image == ''" class="titleImage" src="{{avatar}}" style="" />
                        </div>
                        <div class="col-lg-8 col-md-9">
                            <div class="textRowInfo">
                                <a href="javascript:;" class="textHeader">{{item.name}}</a>
                                <div>{{item.phone}}</div>
                                <div>{{item.address}}</div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-2 d-flex" align="left"  style="margin-top: 5px;">
                            <div class="col-lg-8 col-md-3" style="margin-top: 15px; cursor: pointer; text-align: center" align="left">
                                <div (click)="goToCarsPage(i)" style="float: left">
                                    <h6>3</h6>
                                    <small class="d-block">משרות</small>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6" style="padding-left:0px !important; float: left; cursor: pointer;" align="left">
                                <button [routerLink]="['/', folderName , 'edit' , { id: i}]"  class="btn btn-icon btn-facebook mb-1 mr-1 " style="width: 100px; cursor: pointer; background-color: #3b5998; color: white">
                                    <i class="fa fa-edit"></i>
                                    Edit
                                </button>
                                <button class="btn btn-icon btn-instagram mb-1 mr-1 " style="width: 100px; background-color:lightgrey; cursor: pointer;" (click)="DeleteItem(i)">
                                    <i class="fa fa-close"></i>
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>













































<!--<ngx-datatable
        class="fullscreen"
        [columnMode]="'force'"
        [headerHeight]="40"
        [footerHeight]="0"
        [rowHeight]="70"
        [scrollbarV]="true"
        [scrollbarH]="true"
        [rows]="ItemsArray">

  <ngx-datatable-column name="icons" >
    <ng-template let-column="column" ngx-datatable-header-template>
      actions
    </ng-template>
    <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
      <i class="fa fa-close IconClass" style="" (click)="DeleteItem()"></i>
      <a [routerLink]="['/', 'company' , 'edit' , { id: rowIndex, foo: 'foo' }]" class="navigation-link relative"><i class="fa fa-edit IconClassMt3" ></i></a>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Subdomain">
    <ng-template   ngx-datatable-header-template><span >Subdomain</span></ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Phone">
    <ng-template   ngx-datatable-header-template><span >מספר טלפון</span></ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="email" [width]="300" >
    <ng-template   ngx-datatable-header-template><span >אימייל</span></ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Address" [width]="300" style="padding-top:30px !important;" >
    <ng-template   ngx-datatable-header-template><span >כתובת</span></ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column  [width]="120" >
    <template let-row="row" let-value="value" ngx-datatable-cell-template>
      <img src="{{host}}{{row.logo}}" style="width:60px; height: 60px; margin-top: -13px;" />
    </template>
  </ngx-datatable-column>

</ngx-datatable> -->