<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
--><ion-header xmlns="http://www.w3.org/1999/html">

  <ion-navbar hideBackButton>
    <ion-title align="center" class="HeaderTitle"> צהלה <span class="HeaderSubTitle">צ'ט</span> </ion-title>
    <ion-buttons left>
      <button ion-button (click)="goBack()" icon-only>
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="ContentClass">


  <div class="chatContent">

    <div class="chatMessage" *ngFor="let message of ChatArray">

      <div class="chatMessageRight">
        <img *ngIf="message.image" src="{{phpHost+message.image}}" class="imageclass"/>
        <img *ngIf="!message.image" src="https://wordsmith.org/words/images/avatar2_large.png" class="imageclass"/>
      </div>
      <div class="chatMessageLeft">
        <div class="chatTitle">
          <div class="chatTitleLeft">
            <p>{{getHour(message.date)}}</p>
          </div>
          <div class="chatTitleRight">
            <p>{{reciverName}}</p>
          </div>
        </div>

        <p class="chatMessageLeftP">{{message.title}}</p>
      </div>

    </div>

  </div>
</ion-content>


<ion-footer class="footerClass">
  <div class="chatFooterDiv" align="center">
    <div class="chatFooterDivRight">
      <ion-item align="center">
        <ion-input class="chatInput" type="text" name="title" [(ngModel)]="chatText" placeholder="הוסף הודעה" (keypress)="enterPress($event)"></ion-input>
      </ion-item>
    </div>
    <div class="chatFooterDivLeft" (click)="addChatTitle()">
      <img src="images/addchat.png" class="imageclass"/>
    </div>
  </div>
</ion-footer>